global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'otel-collector'
    scrape_interval: 10s
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'collector:9099'
    honor_labels: true
