body {
  font-family: var(--sl-font-sans);
  padding: var(--sl-spacing-small);
}

.permission-details {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--sl-spacing-x-small);
}

.permission-details dt {
  font-weight: bold;
  color: var(--sl-color-neutral-500);
  font-size: var(--sl-font-size-small);
}

.label {
  color: var(--sl-color-neutral-500);
}

.text {
  color: var(--sl-color-neutral-900);
  line-height: var(--sl-line-height-dense);
}

.permissions {
  display: grid;
  gap: var(--sl-spacing-small);
}

.permission-form {
  display: flex;
  gap: var(--sl-spacing-small);
}

.user-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.user-drawer-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.user-drawer-header {
  display: flex;
  align-items: center;
  gap: var(--sl-spacing-small);
  margin-bottom: var(--sl-spacing-large);
}

.datasources {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

.datasources > div {
  flex: 1 1 calc(30% - 1rem);
  max-width: 30%;
  box-sizing: border-box;
}

.user-drawer-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  sl-button {
    width: 100%;
    margin: 5px 0;
  }
}

#add-data-source-form sl-select {
margin-bottom: 1rem;
}

#add-data-source-form sl-checkbox {
margin-bottom: 1rem;
margin-top: 1rem;
}
