body {
  font-family: var(--sl-font-sans);
  padding: var(--sl-spacing-small);
}

.permission-details {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--sl-spacing-x-small);
}

.permission-details dt {
  font-weight: bold;
  color: var(--sl-color-neutral-500);
  font-size: var(--sl-font-size-small);
}

.label {
  color: var(--sl-color-neutral-500);
}

.text {
  color: var(--sl-color-neutral-900);
  line-height: var(--sl-line-height-dense);
}

.permissions {
  display: grid;
  gap: var(--sl-spacing-small);
}

.permission-form {
  display: flex;
  gap: var(--sl-spacing-small);
}

.logout-button {
  background-color: #007AA2;
  border: 1rem;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.logout-position {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
