body {
  font-family: var(--sl-font-sans);
  padding: var(--sl-spacing-small);
}

.details-list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--sl-spacing-x-small);
}

.details-list dt {
  font-weight: bold;
  color: var(--sl-color-neutral-500);
  font-size: var(--sl-font-size-small);
}

.label {
  color: var(--sl-color-neutral-500);
}

.text {
  color: var(--sl-color-neutral-900);
  line-height: var(--sl-line-height-dense);
}

.permissions {
  display: grid;
  gap: var(--sl-spacing-small);
  max-width: 800px;
}

.permission-form {
  display: flex;
  gap: var(--sl-spacing-small);
}

.user-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.user-drawer-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.user-drawer-header {
  display: flex;
  align-items: center;
  gap: var(--sl-spacing-small);
  margin-bottom: var(--sl-spacing-large);
}

.data-sources {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  align-items: stretch;
  gap: 1rem;
  margin-top: 1rem;
}

.user-drawer-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  sl-button {
    width: 100%;
    margin: 5px 0;
  }
}

#mqtt-password:not([hidden]) + span {
  display: none;
}