/*
 * SPDX-FileCopyrightText: 2024 The EDDIE Developers <eddie.developers@fh-hagenberg.at>
 * SPDX-License-Identifier: Apache-2.0
 */

body {
  align-items: center;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

.main {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  width: 50rem;
  text-align: center;
}

h1 {
  color: #007aa2;
}

button {
  background-color: #007aa2;
  border-radius: 1rem;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  padding: 1.5rem;
  width: 100%;
}
