# This file declares which files are owned by which teams or members of the organisation.
# It should make it easy to automate PRs and find people responsible for files and projects.
# For more information see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# NOTE: Please update the file accordingly if new owners and projects are added.
#
# All files are owned by the organization
* 

# CI/CD
.github/*           @eddie-energy/fh-dev

# Region Connectors
region-connectors/* @eddie-energy/fh-dev
