:root {
  --primary-color: #017aa0; /* blue EDDIE*/
  --background-color: #f0f0f0; /* light grey */
  --text-color: #2a303c; /* almost black */
  --table-row-background-color: #ffffff; /* white */
}

.dark {
  --primary-color: #1ca8e0; /* light blue */
  --background-color: #303030; /* dark grey */
  --text-color: #f3f3f3; /* almost white */
  --table-row-background-color: #303030; /* dark grey */
}

div.dt-container select.dt-input {
  background-color: var(--table-row-background-color);
  color: var(--text-color);
}

.dt-length,
.dt-search,
.dt-info {
  color: var(--text-color);
  margin-bottom: 1rem;
}

div.dt-container .dt-search input {
  color: var(--primary-color);
}

/* DataTables are using !important attribute when the html.dark is activated */
div.dt-container .dt-paging .dt-paging-button.current {
  color: var(--primary-color) !important;
  background-color: var(--background-color);
  background-image: none;
  border: none !important;
}

div.dt-container .dt-paging .dt-paging-button {
  color: var(--primary-color) !important;
}

div.dt-container .dt-paging .dt-paging-button:hover {
  color: var(--primary-color) !important;
  border: none;
  background: var(--background-color) none;
}

table.dataTable td.dt-control:before {
  content: none;
}

tr.open svg {
  transform: rotate(90deg);
}
