:root {
  --primary-color: #017AA0; /* blue EDDIE*/
  --background-color: #f0f0f0; /* light grey */
  --text-color: #2A303C; /* almost black */
  --table-row-background-color: #ffffff; /* white */
}

.dark {
  --primary-color: #1CA8E0; /* light blue */
  --background-color: #303030; /* dark grey */
  --text-color: #f3f3f3; /* almost white */
  --table-row-background-color: #303030; /* dark grey */
}

div.dt-container select.dt-input{
  background-color: var(--table-row-background-color);
  color: var(--text-color);
}

.dt-length, .dt-search, .dt-info {
  color: var(--text-color);
  margin-bottom: 1rem;
}

div.dt-container .dt-search input {
  color: var(--primary-color);
}

div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
  color: var(--primary-color) !important;
  background-color: var(--background-color);
  background-image: none;
  border: none;
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active  {
  color: var(--primary-color) !important;
}