<!doctype html>
<html data-theme="business" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta name="csrf-token" th:if="${_csrf != null}" th:content="${_csrf.token}" />
    <meta name="csrf-header" th:if="${_csrf != null}" th:content="${_csrf.headerName}" />

    <title>Admin-console</title>

    <!-- DaisyUI -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
    />

    <!-- DataTables -->
    <link
      href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles -->
    <link
      th:href="@{/outbound-connectors/admin-console/styles.css}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Tailwind script to be executed before the page for hidden components -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="m-8">
    <!-- Navigation -->
    <nav
      class="bg-background-light dark:bg-background-business flex items-center justify-between flex-wrap p-6"
    >
      <div class="flex items-center text-white mr-6">
        <div class="flex items-center w-auto h-24">
          <img
            alt="local EDDIE logo"
            class="w-auto h-full"
            th:src="@{/outbound-connectors/admin-console/EDDIE_logo.png}"
            title="local EDDIE logo"
          />
        </div>
      </div>
      <div class="flex items-center gap-2">
        <label class="flex cursor-pointer gap-2">
          <svg
            fill="none"
            height="20"
            stroke="#157AA1"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
          </svg>
          <input
            class="toggle theme-controller rounded-2xl"
            type="checkbox"
            value="emerald"
          />
          <svg
            fill="none"
            height="20"
            stroke="#157AA1"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="12" cy="12" r="5" />
            <path
              d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"
            />
          </svg>
        </label>
        <form th:if="${loginEnabled}" method="post" th:action="@{/logout}">
          <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
          <input
            class="modal-button py-2.5 px-5 ms-3 font-medium rounded-lg bg-primary-light dark:bg-primary-business text-text-business btn"
            type="submit"
            value="Logout"
          />
        </form>
      </div>
    </nav>

    <!-- Main Content -->
    <main>
      <h1
        class="text-primary-light dark:text-primary-business text-5xl font-bold pt-20"
      >
        Welcome to the Admin Console
      </h1>
      <h2
        class="text-primary-light dark:text-primary-business text-2xl font-bold pb-12"
        th:text="${title}"
      >
        title
      </h2>

      <div class="overflow-x-auto">
        <table
          class="table w-full mt-8 bg-table-row-background-light dark:bg-table-row-background-business"
          id="statusMessageTable"
        >
          <thead>
            <tr
              class="bg-table-header-background-light dark:bg-table-header-background-business text-table-header-light dark:text-table-header-business"
            >
              <th></th>
              <th>Country</th>
              <th>Region Connector</th>
              <th>Data Need ID</th>
              <th>Permission ID</th>
              <th>Start Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="statusMessage, statusMessagesStat : ${statusMessages}">
              <td></td>
              <td th:text="${statusMessage.country}"></td>
              <td th:text="${statusMessage.regionConnectorId}"></td>
              <td th:text="${statusMessage.dataNeedId}"></td>
              <td th:text="${statusMessage.permissionId}"></td>
              <td
                th:text="${#temporals.format(statusMessage.getParsedStartDate(), 'dd-MM-yyyy HH:mm:ss')}"
              ></td>
              <td>
                <span
                  class="bg-green-500 text-white px-2 py-1 rounded"
                  th:if="${statusMessage.status == 'Active'}"
                  th:text="${statusMessage.status}"
                ></span>
                <span
                  class="bg-red-500 text-white px-2 py-1 rounded"
                  th:if="${nonTerminatableStatuses.contains(statusMessage.status)}"
                  th:text="${statusMessage.status}"
                ></span>
                <span
                  class="bg-stone-400 text-white px-2 py-1 rounded"
                  th:text="${statusMessage.status}"
                  th:unless="${statusMessage.status == 'Active' or nonTerminatableStatuses.contains(statusMessage.status)}"
                ></span>
              </td>
              <td>
                <button
                  class="text-primary-light dark:text-primary-business font-bold js-terminate-permission"
                  onclick="onTerminationButtonClick()"
                  th:data-permission-id="${statusMessage.permissionId}"
                  th:if="${!nonTerminatableStatuses.contains(statusMessage.status)}"
                >
                  Terminate
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <!-- Terminate Permission Modal -->
    <dialog class="modal" id="popup-modal">
      <div class="modal-box">
        <form method="dialog">
          <button
            class="bg-primary-light dark:bg-primary-business text-text-business btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          >
            ✕
          </button>
        </form>

        <svg
          aria-hidden="true"
          class="mx-auto mb-4 w-12 h-12"
          fill="none"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            stroke="#157AA1"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
        </svg>
        <h3
          class="mb-5 text-lg font-normal text-text-light dark:text-text-business"
          id="modal-question"
        >
          Are you sure you want to terminate this permission?
        </h3>

        <div class="success-message hidden">
          Permission Terminated successfully
        </div>

        <form class="modal-action" method="dialog">
          <button
            class="modal-button font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center bg-primary-light dark:bg-primary-business text-text-business"
            value="confirm"
          >
            Yes, I'm sure
          </button>

          <button
            class="modal-button py-2.5 px-5 ms-3 font-medium rounded-lg bg-primary-light dark:bg-primary-business text-text-business"
          >
            No, cancel
          </button>
        </form>
      </div>

      <form class="modal-backdrop" method="dialog">
        <button>Close</button>
      </form>
    </dialog>

    <!-- Termination Alert -->
    <div class="toast toast-top toast-center">
      <div class="alert alert-success hidden" role="alert">
        <svg
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
        </svg>
        <span>The permission has been terminated successfully!</span>
      </div>
      <div class="alert alert-error hidden" role="alert">
        <svg
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
        </svg>
        <span>Error! Could not terminate the permission.</span>
      </div>
    </div>

    <!-- Scripts -->
    <script>
      tailwind.config = {
        darkMode: "class", // This line enables dark mode
        theme: {
          extend: {
            colors: {
              "primary-business": "#1CA8E0",
              "background-business": "#303030",
              "text-business": "#f3f3f3",
              "table-header-background-business": "#080808",
              "table-header-business": "#1CA8E0",
              "table-row-background-business": "#303030",
              "modal-background-business": "#080808",
              "primary-light": "#017AA0",
              "background-light": "#f0f0f0",
              "text-light": "#2A303C",
              "table-header-background-light": "#017AA0",
              "table-header-light": "#ffffff",
              "table-row-background-light": "#ffffff",
              "modal-background-light": "#f0f0f0",
            },
          },
        },
      };
    </script>

    <!-- DataTables -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- for child rows-->
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>

    <!-- Custom scripts -->
    <script th:src="@{/outbound-connectors/admin-console/scripts.js}"></script>
  </body>
</html>
