spring:
  datasource:
    url: jdbc:postgresql://REPLACE_ME:5432/aiida
    username: REPLACE_ME
    password: REPLACE_ME
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: 'true'
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    locations: 'classpath:db/aiida/migration'
