{
  "openapi": "3.0.1",
  "info": {
    "title": "ENEDIS REST Client",
    "description": "# Authorization\nThis authorization is materialized by an access token, also called a token, which must be presented by the application each time a catalog API is called. The authorization API allows you to retrieve an access token to the APIs in the catalog to which you have subscribed.\nEnedis has chosen to implement the OAUTH 2.0 protocol to manage access to its APIs, more precisely through the Client Credentials Grant Flow scenario.\n\nThe version of this API (v3) corresponds to an alignment with the Oauth2 standard.\n\n# Metering Data\nThis API makes it possible to recover the daily energy consumption for the delivery point of customers equipped with Linky communicating meters. Access to this resource is conditioned by the prior collection of client consent by Enedis.\n\n## Additional Information\nIn the sandbox, use the URL : https://ext.hml.api.enedis.fr\nIn production, use the URL : https://ext.prod.api.enedis.fr",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://ext.hml.api.enedis.fr/",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "authorization",
      "description": "How to authorize",
      "externalDocs": {
        "description": "Original documentation of ENEDIS",
        "url": "https://datahub-enedis.fr/services-api/data-connect/documentation/jeton/"
      }
    },
    {
      "name": "metering_data",
      "description": "How to access metering data",
      "externalDocs": {
        "description": "Original documentation of ENEDIS",
        "url": "https://datahub-enedis.fr/services-api/data-connect/documentation/metering-v5-consommation-quotidienne/"
      }
    }
  ],
  "paths": {
    "/oauth2/v3/revoke": {
      "post": {
        "tags": [
          "authorization"
        ],
        "summary": "Token revokation",
        "description": "Allows you to revoke an authorization token.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Format of the request body",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Client application identifier, in the form of Basic or digest authentication. \n Basic authentication is base64_encoded(Client_ID:Client_secret).\n Is mandatory if the parameters client_id and client_secret are not passed.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Basic QVBQX0lEOkFQUF9QV0Q"
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Description of the equipment that issued the request (hardware/software)",
            "schema": {
              "type": "string"
            },
            "example": "User-Agent: Mozilla/5.0 (Linux; U; Android 4.0.3; fr-fr; LG-L160L Build/IML74K)"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Identifier of the token to delete in the case of a unitary deletion.",
                    "example": "2YotnFZFEjr1zCsicMWpAA"
                  },
                  "token_type_hint": {
                    "type": "string",
                    "description": "Type of token to be deleted",
                    "example": "access_token",
                    "enum": [
                      "access_token"
                    ]
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Identifier of the client application for which you want to delete the token.",
                    "example": "Qc1ZEYAnhcXqObRJbZh6M9ISgByua7wd"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Secret identifier of the client application for which you want to delete the tokens.\nThis parameter is mandatory if the authentication is of the secret type and if the authentication is not done by basic authentication.",
                    "example": ""
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Effective token invalidation or non-existent token",
            "content": {}
          },
          "400": {
            "description": "Error in the format of the request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "TokenRevokeError400",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code returned by the system.",
                      "enum": [
                        "invalid_request",
                        "invalid_client",
                        "invalid_grant",
                        "invalid_scope",
                        "unauthorized_client",
                        "unsupported_grant_type",
                        "unsupported_token_type"
                      ]
                    },
                    "error_description": {
                      "type": "string",
                      "description": "Description of the error corresponding to the code.",
                      "enum": [
                        "The request is missing a required parameter, includes an unsupported parameter value (other than grant type), repeats a parameter, includes multiple credentials, utilizes more than one mechanism for authenticating the client, or is otherwise malformed",
                        "Client authentication failed (e.g., unknown client, no client authentication included, or unsupported authentication method)",
                        "The provided authorization grant (e.g. authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client.",
                        "The requested scope is invalid, unknown, malformed, or exceeds the scope granted by the resource owner",
                        "The authenticated client is not authorized to use this authorization grant type",
                        "The authorization grant type is not supported by the authorization server",
                        "The authorization server does not support the revocation of the presented token type",
                        "Le Content-Type doit être application/x-www-form-urlencoded",
                        "empty header bad request format partial or incorrect data",
                        "Valid authentication credentials are mandatory to access the resource"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The request is not allowed",
            "content": {}
          },
          "500": {
            "description": "Server Error - An error occurred while the server was processing the request",
            "content": {}
          },
          "503": {
            "description": "Service not available - The server is temporarily unavailable",
            "content": {}
          }
        }
      }
    },
    "/oauth2/v3/token": {
      "post": {
        "tags": [
          "authorization"
        ],
        "summary": "Token generation",
        "description": "Allows you to request the generation of a token using the Client Credential method.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Format of the request body",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Client application identifier, in the form of Basic or digest authentication. \n Basic authentication is base64_encoded(Client_ID:Client_secret).\n Is mandatory if the parameters client_id and client_secret are not passed.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Basic QVBQX0lEOkFQUF9QV0Q"
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Description of the equipment that issued the request (hardware/software)",
            "schema": {
              "type": "string"
            },
            "example": "User-Agent: Mozilla/5.0 (Linux; U; Android 4.0.3; fr-fr; LG-L160L Build/IML74K)"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "Defines the type of authorization used.",
                    "enum": [
                      "client_credentials"
                    ]
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Unique identifier of the application consuming the API.\nMust be set if the Authorize header is not transmitted.",
                    "example": "Cd4yimJ7tTBRYuR8ETBuIKAdjFgM"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "The secret of the application consuming the API, associated with the client_id.\n  Must be set if the Authorize header is not transmitted.",
                    "example": "czZCaGRSa3F0MzpnWDFmQmF0M2JW"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successfully processed.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "TokenGenerationResponse",
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The JWT access token generated to consume the APIs",
                      "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ik5HRTNaVEkwWVRnMk1HRm1ZVFppTWpCak16WXlNRE0wTkRrM1lXRXpNVGRtT0RSbU1UWmhNUT09In0.eyJhdWQiOiJodHRwOlwvXC9vcmcud3NvMi5hcGltZ3RcL2dhdGV3YXkiLCJzdWIiOiJhcGlzdWJzY3JpYmVyQGNhcmJvbi5zdXBlciIsImFwcGxpY2F0aW9uIjp7Im93bmVyIjoiYXBpc3Vic2NyaWJlciIsInRpZXJRdW90YVR5cGUiOiJyZXF1ZXN0Q291bnQiLCJ0aWVyIjoiVW5saW1pdGVkIiwibmFtZSI6IkRlZmF1bHRBcHBsaWNhdGlvbiIsImlkIjoxLCJ1dWlkIjpudWxsfSwic2NvcGUiOiJhbV9hcHBsaWNhdGlvbl9zY29wZSBkZWZhdWx0IiwiaXNzIjoiaHR0cHM6XC9cL2VmdzljMHQxLjJremUwLnplMC5lcmQuZWRmLmZyOjgxODRcL29hdXRoMlwvdG9rZW4iLCJ0aWVySW5mbyI6eyJVbmxpbWl0ZWQiOnsidGllclF1b3RhVHlwZSI6InJlcXVlc3RDb3VudCIsInN0b3BPblF1b3RhUmVhY2giOnRydWUsInNwaWtlQXJyZXN0TGltaXQiOjAsInNwaWtlQXJyZXN0VW5pdCI6bnVsbH0sIkN1c3RvbSI6eyJ0aWVyUXVvdGFUeXBlIjoicmVxdWVzdENvdW50Iiwic3RvcE9uUXVvdGFSZWFjaCI6dHJ1ZSwic3Bpa2VBcnJlc3RMaW1pdCI6LTEsInNwaWtlQXJyZXN0VW5pdCI6Ik5BIn19LCJrZXl0eXBlIjoiUFJPRFVDVElPTiIsInN1YnNjcmliZWRBUElzIjpbeyJzdWJzY3JpYmVyVGVuYW50RG9tYWluIjoiY2FyYm9uLnN1cGVyIiwibmFtZSI6IlBpenphU2hhY2tBUEkiLCJjb250ZXh0IjoiXC9waXp6YXNoYWNrXC8xLjAuMCIsInB1Ymxpc2hlciI6ImFwaXB1Ymxpc2hlciIsInZlcnNpb24iOiIxLjAuMCIsInN1YnNjcmlwdGlvblRpZXIiOiJVbmxpbWl0ZWQifSx7InN1YnNjcmliZXJUZW5hbnREb21haW4iOiJjYXJib24uc3VwZXIiLCJuYW1lIjoicmVzZWF1IiwiY29udGV4dCI6IlwvZWxlY3RyaWNfZ3JpZFwvdjNcLzMuMCIsInB1Ymxpc2hlciI6ImFwaXB1Ymxpc2hlciIsInZlcnNpb24iOiIzLjAiLCJzdWJzY3JpcHRpb25UaWVyIjoiVW5saW1pdGVkIn0seyJzdWJzY3JpYmVyVGVuYW50RG9tYWluIjoiY2FyYm9uLnN1cGVyIiwibmFtZSI6IlRvcGljQVBJIiwiY29udGV4dCI6IlwvVG9waWNTZXJ2aWNlXC8xLjAuMCIsInB1Ymxpc2hlciI6ImFwaXB1Ymxpc2hlciIsInZlcnNpb24iOiIxLjAuMCIsInN1YnNjcmlwdGlvblRpZXIiOiJVbmxpbWl0ZWQifSx7InN1YnNjcmliZXJUZW5hbnREb21haW4iOiJjYXJib24uc3VwZXIiLCJuYW1lIjoic2VydmljZTFiaXMiLCJjb250ZXh0IjoiXC9zZXJ2aWNlMWJpc1wvMS4wLjAiLCJwdWJsaXNoZXIiOiJhcGlwdWJsaXNoZXIiLCJ2ZXJzaW9uIjoiMS4wLjAiLCJzdWJzY3JpcHRpb25UaWVyIjoiQ3VzdG9tIn1dLCJjb25zdW1lcktleSI6IlFPTE5PR3ZYTHQ5OE93X3B1aGZXbGZIeG1WQWEiLCJleHAiOjE2MzA2ODAyODYsImlhdCI6MTYzMDY3NjY4NiwianRpIjoiMWUwMWI1MzEtZGUyMS00YWM1LWI4MWItZTJhZDU3YWIzZjkxIn0.Q5bzRsI2JiPQA7KdJtnd_iSNBIOHQEyExHWGYFSVl-aK3KM8Fv1361hH7HlDUcp7ElGrc5v5ARS0j8-OqJiF8R_kJB7UOVn20VE3ZsYAzVxI3FXU6sEoBmZE7WHX1uwLAO1ClcuCw4zIDrckJgtpPxhWvN2LTd9ZKJVaXa2gxScHZM4Tc_HJqsPiqTIh6z_dNk0_al1P1b3_7hgP1bD6oysAz99dA7PF2w7WKOlfBPtHH89yfQA54XntLiRAdbl5t3KdFbn7r91R62iJ5i3kl_ogtwcoqwzK0ClAGev4OumPBFtaoNglgmaX8_rIG2-rhJwRqitiTeR_Kc5STtSXXA"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Gives the type of token generated. It is a bearer token by default.",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "string",
                      "description": "The duration of the token before it expires (in seconds)",
                      "example": "12600"
                    },
                    "scope": {
                      "type": "string",
                      "description": "Scope of the JWT access token generated to access the requested resource.",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error in the format of the request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "TokenGenerationError400",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code returned by the system.",
                      "enum": [
                        "invalid_request",
                        "invalid_client",
                        "invalid_grant",
                        "invalid_scope",
                        "unauthorized_client",
                        "unsupported_grant_type"
                      ]
                    },
                    "error_description": {
                      "type": "string",
                      "description": "Description of the error corresponding to the code.",
                      "enum": [
                        "The request is missing a required parameter, includes an unsupported parameter value (other than grant type), repeats a parameter, includes multiple credentials, utilizes more than one mechanism for authenticating the client, or is otherwise malformed",
                        "Client authentication failed (e.g., unknown client, no client authentication included, or unsupported authentication method)",
                        "The provided authorization grant (e.g. authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client",
                        "The requested scope is invalid, unknown, malformed, or exceeds the scope granted by the resource owner",
                        "The authenticated client is not authorized to use this authorization grant type",
                        "The authorization grant type is not supported by the authorization server"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error - An error occurred while the server was processing the request",
            "content": {}
          },
          "503": {
            "description": "Service not available - The server is temporarily unavailable",
            "content": {}
          }
        }
      }
    },
    "/metering_data_dc/v5/daily_consumption": {
      "get": {
        "tags": [
          "metering_data"
        ],
        "summary": "Daily energy consumption",
        "description": "Allows to retrieve the daily energy consumption of the requested period **[start;end[** in **Wh** for the delivery point and the authenticated holder, or whose identifier is given in parameter.\nEach value is dated.\nA call can be made for data dating back a maximum of 36 months and 15 days before the call date.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Oauth token delivered to the client application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Acceptable response format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fomat of the request body (application/json or application/xml)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Description of the equipment that issued the request (hardware/software)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "person_id",
            "in": "query",
            "description": "Identifier of the person (natural or legal) holding the metering point.",
            "schema": {
              "maxLength": 10,
              "pattern": "[0-9]{10}",
              "type": "string"
            }
          },
          {
            "name": "usage_point_id",
            "in": "query",
            "description": "Metering Point ID from which the data is to be collected",
            "required": true,
            "schema": {
              "maxLength": 14,
              "pattern": "[0-9]{14}",
              "type": "string"
            },
            "example": "16401220101758"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date of the requested range in the full-date format of RFC 3339, i.e. YYYY-MM-DD",
            "required": true,
            "schema": {
              "maxLength": 10,
              "pattern": "[0-9-]{10}",
              "type": "string"
            },
            "example": "2019-05-06"
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date of the requested range in the full-date format of RFC 3339 format, i.e. YYYY-MM-DD",
            "required": true,
            "schema": {
              "maxLength": 10,
              "pattern": "[0-9-]{10}",
              "type": "string"
            },
            "example": "2019-05-12"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "*/*": {
                "schema": {
                  "title": "DailyConsumptionResponse",
                  "required": [
                    "meter_reading"
                  ],
                  "type": "object",
                  "properties": {
                    "meter_reading": {
                      "title": "DailyConsumptionMeterReading",
                      "required": [
                        "end",
                        "interval_reading",
                        "quality",
                        "reading_type",
                        "start",
                        "usage_point_id"
                      ],
                      "type": "object",
                      "properties": {
                        "usage_point_id": {
                          "type": "string",
                          "description": "Metering Point ID from which the data is to be collected",
                          "example": "16401220101758"
                        },
                        "start": {
                          "type": "string",
                          "description": "Start date of the returned range<br/>\nFormat YYYY-MM-DD",
                          "example": "2019-05-06"
                        },
                        "end": {
                          "type": "string",
                          "description": "End date of the returned range<br/>\nFormat YYYY-MM-DD",
                          "example": "2019-05-12"
                        },
                        "quality": {
                          "type": "string",
                          "description": "Quality of the data, raw (BRUT) or corrected",
                          "example": "BRUT",
                          "enum": [
                            "BRUT"
                          ]
                        },
                        "reading_type": {
                          "title": "DailyConsumptionReadingType",
                          "required": [
                            "aggregate",
                            "measurement_kind",
                            "measuring_period",
                            "unit"
                          ],
                          "type": "object",
                          "properties": {
                            "measurement_kind": {
                              "type": "string",
                              "description": "Type of measurement requested. Possible values : none, energy, power, voltage.In this case : energy",
                              "example": "energy"
                            },
                            "measuring_period": {
                              "type": "string",
                              "description": "No data aggregation",
                              "example": "P1D",
                              "enum": [
                                "P1D"
                              ]
                            },
                            "unit": {
                              "type": "string",
                              "description": "Unit of measurement data",
                              "example": "Wh",
                              "enum": [
                                "Wh"
                              ]
                            },
                            "aggregate": {
                              "type": "string",
                              "description": "Corresponds to the type of business size consulted. Possible values : none, average, maximum and sum. For this size : sum",
                              "example": "sum"
                            }
                          }
                        },
                        "interval_reading": {
                          "type": "array",
                          "items": {
                            "title": "DailyConsumptionIntervalReading",
                            "required": [
                              "date",
                              "value"
                            ],
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "Point value",
                                "example": "540"
                              },
                              "date": {
                                "type": "string",
                                "description": "Date of value (UTC)",
                                "example": "2019-05-06"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error in the format of the request",
            "content": {
              "*/*": {
                "schema": {
                  "title": "DailyConsumptionError400",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code returned by the system.",
                      "example": "Invalid_request",
                      "enum": [
                        "Invalid_request",
                        "ADAM-ERR0123",
                        "ADAM-ERR0125",
                        "ADAM-ERR0061"
                      ]
                    },
                    "error_description": {
                      "type": "string",
                      "description": "Description of the error corresponding to the code.",
                      "example": "usage_point_id parameter is required",
                      "enum": [
                        "Empty header, bad request format, partial or incorrect data",
                        "usage_point_id parameter is required",
                        "usage_point_id parameter must be 14 digits long",
                        "Start date parameter is required",
                        "Start date parameter must be in the format YYYY-MM-DD",
                        "End date parameter is required",
                        "End date parameter must be in the format YYYY-MM-DD",
                        "The end date parameter must be earlier than the current date",
                        "Start date should be before end date",
                        "The requested period cannot be anterior to the meter's last activation date",
                        "The start date must be greater than the history deadline",
                        "The seeker is not recognized as the actual meter holder",
                        "person_id parameter is required when the user is not an authentified customer"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "title": "DailyConsumptionError403",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code returned by the system.",
                      "example": "unauthorized_user",
                      "enum": [
                        "unauthorized_user",
                        "ADAM_DC_0008"
                      ]
                    },
                    "error_description": {
                      "type": "string",
                      "description": "Description of the error corresponding to the code.",
                      "example": "user is not authorized to access this resource",
                      "enum": [
                        "No consent can be found for this customer and this usage point.",
                        "user is not authorized to access this resource"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No resource matching the request",
            "content": {
              "*/*": {
                "schema": {
                  "title": "DailyConsumptionError404",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code returned by the system.",
                      "example": "no_data_found"
                    },
                    "error_description": {
                      "type": "string",
                      "description": "Description of the error corresponding to the code.",
                      "example": "no measure found for this usage point"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {}
          },
          "503": {
            "description": "Service not available",
            "content": {}
          }
        }
      }
    },
    "/metering_data_clc/v5/consumption_load_curve": {
      "get": {
        "tags": [
          "metering_data"
        ],
        "summary": "Recovery of the load curve on withdrawal",
        "description": "Allows the retrieval of the extraction load curve over the interval <b>[start;end[</b> for the delivery point entered and the holder authenticated, or whose identifier is given in the parameter. The depth of data available in one call is one week.\nThe returned values are average consumption powers in <b>W</b> over the meter measurement interval (<i>by default 30m</i>), each value is time-stamped.\nThe load curve is obtained on full days from midnight to midnight of the following day in local time.\nA call can be made on data dating back a maximum of 24 months and 15 days before the call date.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Oauth token issued to the client application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Acceptable response format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fomat of the request body (application/json or application/xml)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Description of the equipment that issued the request (hardware/software)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "person_id",
            "in": "query",
            "description": "Identifier of the person (natural or legal) holding the point.",
            "schema": {
              "maxLength": 10,
              "pattern": "[0-9]{10}",
              "type": "string"
            }
          },
          {
            "name": "usage_point_id",
            "in": "query",
            "description": "Delivery Point Identifier (DPI)",
            "required": true,
            "schema": {
              "maxLength": 14,
              "pattern": "[0-9]{14}",
              "type": "string"
            },
            "example": "16401220101758"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date of the requested range in RFC full-date format 3339, i.e. YYYY-MM-DD",
            "required": true,
            "schema": {
              "maxLength": 10,
              "pattern": "[0-9-]{10}",
              "type": "string"
            },
            "example": "2019-05-06"
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date of the requested range in RFC full-date format 3339, i.e. YYYY-MM-DD",
            "required": true,
            "schema": {
              "maxLength": 10,
              "pattern": "[0-9-]{10}",
              "type": "string"
            },
            "example": "2019-05-12"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "*/*": {
                "schema": {
                  "title": "ConsumptionLoadCurveResponse",
                  "required": [
                    "meter_reading"
                  ],
                  "type": "object",
                  "properties": {
                    "meter_reading": {
                      "title": "ConsumptionLoadCurveMeterReading",
                      "required": [
                        "end",
                        "interval_reading",
                        "quality",
                        "start",
                        "usage_point_id"
                      ],
                      "type": "object",
                      "properties": {
                        "usage_point_id": {
                          "type": "string",
                          "description": "Delivery Point Identifier (DPI)",
                          "example": "16401220101758"
                        },
                        "start": {
                          "type": "string",
                          "description": "Start date of the returned range<br/>\nFormat YYYY-MM-DD",
                          "example": "2019-05-06"
                        },
                        "end": {
                          "type": "string",
                          "description": "End date of the returned range<br/>\nFormat YYYY-MM-DD",
                          "example": "2019-05-12"
                        },
                        "quality": {
                          "type": "string",
                          "description": "Quality of the data, raw (BRUT) or corrected",
                          "example": "BRUT",
                          "enum": [
                            "BRUT"
                          ]
                        },
                        "reading_type": {
                          "title": "ConsumptionLoadCurveReadingType",
                          "required": [
                            "unit"
                          ],
                          "type": "object",
                          "properties": {
                            "measurement_kind": {
                              "type": "string",
                              "description": "Type of measurement requested. Possible values: none, energy, power, voltage.\nFor this case: power.",
                              "example": "power"
                            },
                            "unit": {
                              "type": "string",
                              "description": "Unit of measurement data",
                              "example": "W",
                              "enum": [
                                "W"
                              ]
                            },
                            "aggregate": {
                              "type": "string",
                              "description": "Corresponds to the type of business size consulted.\nPossible values: none, average, maximum and sum.\nFor this quantity: average'.",
                              "example": "average"
                            }
                          }
                        },
                        "interval_reading": {
                          "type": "array",
                          "items": {
                            "title": "ConsumptionLoadCurveIntervalReading",
                            "required": [
                              "date",
                              "interval_length",
                              "value"
                            ],
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "Value of the point",
                                "example": "540"
                              },
                              "date": {
                                "type": "string",
                                "description": "Time stamp of value (UTC)",
                                "example": "2019-05-06 03:00:00"
                              },
                              "interval_length": {
                                "type": "string",
                                "description": "PT5M: 5 minute steps, PT10M: 10 minute steps, PT15M: 15 minute steps, PT30M: 30 minute steps, PT60M: 60 minute step",
                                "example": "PT30M",
                                "enum": [
                                  "PT5M",
                                  "PT10M",
                                  "PT15M",
                                  "PT30M",
                                  "PT60M"
                                ]
                              },
                              "measure_type": {
                                "type": "string",
                                "description": "Qualifies the type of measurement (B = BRUT)",
                                "example": "B",
                                "enum": [
                                  "B"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error in query format",
            "content": {
              "*/*": {
                "schema": {
                  "title": "ConsumptionLoadCurveError400",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code returned by the system.",
                      "example": "Invalid_request",
                      "enum": [
                        "Invalid_request",
                        "ADAM-ERR0123",
                        "ADAM-ERR0125",
                        "ADAM-ERR0126",
                        "ADAM-ERR0061",
                        "ADAM-ERR0075"
                      ]
                    },
                    "error_description": {
                      "type": "string",
                      "description": "Description of the error corresponding to the code.",
                      "example": "usage_point_id parameter is required",
                      "enum": [
                        "Empty header, bad request format, partial or incorrect data ",
                        "usage_point_id parameter is required",
                        "usage_point_id parameter must be 14 digits long",
                        "Start date parameter is required",
                        "Start date parameter must be in the format YYYY-MM-DD",
                        "End date parameter is required",
                        "End date parameter must be in the format YYYY-MM-DD",
                        "The end date parameter must be earlier than the current date",
                        "Start date should be before end date",
                        "The requested period cannot be anterior to the meter's last activation date",
                        "The start date must be greater than the history deadline",
                        "The requested period must be less than 7 days for an access to the load curve",
                        "The seeker is not recognized as the actual meter holder",
                        "The customer objected to the load curve recording",
                        "person_id parameter is required when the user is not an authentified customer"
                      ]
                    },
                    "error_uri": {
                      "type": "string",
                      "description": "URI of the API documentation"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "title": "ConsumptionLoadCurveError403",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code returned by the system.",
                      "example": "unauthorized_user",
                      "enum": [
                        "unauthorized_user",
                        "ADAM_DC_0008"
                      ]
                    },
                    "error_description": {
                      "type": "string",
                      "description": "Description of the error corresponding to the code.",
                      "example": "user is not authorized to access this resource",
                      "enum": [
                        "No consent can be found for this customer and this usage point.",
                        "user is not authorized to access this resource"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No resource matching the request",
            "content": {
              "*/*": {
                "schema": {
                  "title": "ConsumptionLoadCurveError404",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code returned by the system.",
                      "example": "no_data_found"
                    },
                    "error_description": {
                      "type": "string",
                      "description": "Description of the error corresponding to the code.",
                      "example": "no measure found for this usage point"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {}
          },
          "503": {
            "description": "Service unavailable",
            "content": {}
          }
        }
      }
    }
  },
  "components": {}
}