name: eddie-e2e-test
services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: "test"
      POSTGRES_USER: "test"
      POSTGRES_DB: "eddie"
    restart: "always"

  eddie:
    image: ghcr.io/eddie-energy/eddie:e2e-test
    build:
      dockerfile: src/main/docker/Dockerfile
      context: ../../core
    env_file:
      - .env
      - .env_secrets
    volumes:
      - ./keys:/opt/core/keys # mount a folder to store key files
      - ./ponton:/ponton # mount a folder to store ponton files
      - ./data-needs.json:/opt/core/config/data-needs.json
    depends_on:
      - kafka
      - db

  kafka:
    # Docs: https://github.com/bitnami/containers/tree/main/bitnami/kafka#accessing-apache-kafka-with-internal-and-external-clients
    image: docker.io/bitnami/kafka:3.6
    environment:
      # KRaft settings
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      # Listeners
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      # Topic auto creation
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true

  emqx:
    image: emqx/emqx:5.6.0
    container_name: emqx
    ports:
      - "1883:1883"
      - "8883:8883"
    environment:
      EMQX_NAME: example_emqx_node
      EMQX_HOST: 127.0.0.1
    restart: always

networks:
  default:
    external: true
    name: "e2e-tests-network"
