/*
 * SPDX-FileCopyrightText: 2025 The EDDIE Developers <eddie.developers@fh-hagenberg.at>
 * SPDX-License-Identifier: Apache-2.0
 */

@import './reset.css';
@import './typography.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/900.css';

:root {
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xlg: 1.5rem;
  --spacing-xxl: 2rem;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --light: #ffffff;
  --dark: #000000;
  --eddie-turquoise-light: #c6e2e9;
  --eddie-grey-medium: #4e4e4e;
  --eddie-grey-light: #ededed;
  --eddie-yellow: #fed119;
  --eddie-primary: #017aa0;
  --eddie-secondary: #eff2f7;
  --eddie-blue: #15a7e0;
  --eddie-green: #92c143;
  --eddie-yellow: #fed119;
  --eddie-red-dark: #9e0b0f;
  --eddie-red-light: #ff3b30;
  --eddie-red-medium: #b3261e;
  --eddie-primary-900: #017aa0e6;
  --eddie-primary-100: #017aa01a;
  --eddie-primary-400: #017aa066;
  --max-content-width: 1620px;
  --content-padding: 1rem;
  --border-radius: 0.5rem;
  --app-bg-color: rgb(239, 242, 247, 0.9998);
  --main-bg-color: rgb(255, 255, 255, 0.5);
  --mobile-header-height: 70px;
  font-size: 16px;
  line-height: 1.5;

  @media screen and (min-width: 640px) {
    --content-padding: 2rem;
  }

  @media screen and (min-width: 1024px) {
    --content-padding: 4rem;
  }

  @media (min-width: 1620px) {
    --content-padding: 10rem;
  }
  @media screen and (min-width: 2565px) {
    --max-content-width: 70vw;
    font-size: clamp(16px, 1vw, 32px);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:not(:defined) {
  visibility: hidden;
}

html,
body,
main,
main > div,
#app {
  overflow: auto;
}

html,
body {
  margin: 0;
  scrollbar-color: var(--eddie-primary) var(--light);

  @media screen and (min-width: 1024px) {
    height: 100vh;
  }
}

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  letter-spacing: 0.01em;
  font-size: 11px;
  line-height: 1;
  padding: 3rem var(--content-padding);
  max-width: calc(var(--max-content-width) + 2 * var(--content-padding));
  margin: 0 auto;
  background-color: var(--app-bg-color);

  &::before {
    content: '';
    background: url(/svgs/BackgroundBrandmark.svg), url(@/assets/BackgroundBrandmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
    rotate: 11.7deg;
    position: fixed;
    right: -5%;
    bottom: -5%;
    filter: blur(20px);
    height: 70vh;
    width: 70vh;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1rem;
    line-height: 1.5;
  }
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main {
  height: fit-content;
  border-radius: var(--border-radius);
  scrollbar-color: var(--eddie-primary) var(--light);
  display: flex;
  flex-direction: column;

  > div {
    flex: 1;
  }

  @media screen and (min-width: 1024px) {
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: var(--main-bg-color);
  }
}

main::-webkit-scrollbar {
  width: 0.5rem;
}

main::-webkit-scrollbar-track {
  border-radius: var(--border-radius);
  background: var(--light);
}

main::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  color: var(--eddie-primary);
}

img {
  max-width: 100%;
}

b,
strong {
  font-weight: bold;
}

input,
select {
  font-size: 1rem;
  line-height: 1.5;

  &::placeholder {
    color: var(--eddie-grey-medium);
  }
}

.link-with-bold-hover {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-xs);
  border-bottom: 1px solid transparent;
  transition:
    border-color 0.3s ease,
    font-weight 0.3s ease;

  &:after {
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: var(--font-weight-bold);
    @media speech {
      display: none;
    }
  }

  &:hover {
    border-color: var(--eddie-primary);
    font-weight: var(--font-weight-bold);
  }

  &.router-link-active {
    &:not(.not-selected) {
      background-color: var(--light);
      color: var(--eddie-primary);
    }

    @media screen and (min-width: 1024px) {
      &:not(.not-selected) {
        background-color: unset;
        font-weight: var(--font-weight-bold);
      }

      border-color: var(--eddie-primary);
    }
  }
}

.loading-indicator {
  position: absolute;
  z-index: -1;
  height: 4rem;
  width: 4rem;
  animation: spin 1s linear infinite;
  border-bottom: solid 2px var(--eddie-primary);
  border-radius: 9999px;
  left: calc(50% - 2rem);
  top: calc(50% - 2rem);
}

svg {
  width: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
