<!-- SPDX-FileCopyrightText: 2025-2026 The EDDIE Developers <eddie.developers@fh-hagenberg.at> -->
<!-- SPDX-License-Identifier: Apache-2.0 -->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>EDDIE Button</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Source remote eddie-components when running with Thymeleaf -->
    <!--/*/
    <base th:href="${publicUrl}">
    <script type="module" th:src="${publicUrl} + '/lib/eddie-components.js'"></script>
    /*/-->

    <!-- Source local eddie-components when running with Vite -->
    <!--/*-->
    <script type="module" src="../../js/eddie-components.js"></script>
    <!--*/-->

    <!-- Pass public url as core url when running with Thymeleaf -->
    <script th:inline="javascript">
      const THYMELEAF_CORE_URL = /*[[${publicUrl}]]*/ undefined;
    </script>

    <style>
      form {
        margin-top: 1.5rem;
        display: grid;
        justify-items: start;
        gap: 1rem;
      }

      span + input,
      span + select {
        margin-top: 0.1rem;
        display: block;
      }
    </style>
  </head>
  <body>
    <p>
      The demo button can be used to test the EDDIE button and region connector
      elements during development.
    </p>
    <!-- prettier-ignore -->
    <p>
      Input fields apply attributes documented in the
      <a href="https://architecture.eddie.energy/framework/1-running/eddie-button/eddie-button.html">Operation Manual</a>.
    </p>
    <form>
      <label>
        <span>Data need (required)</span>
        <select autocomplete="off" multiple name="data-need-id"></select>
        <small>
          Multiple data needs can be selected, but not all region connectors
          support multiple data needs.
        </small>
      </label>
      <label>
        <span>Connection ID (required)</span>
        <input type="text" name="connection-id" value="1" />
        <small>For the eligible party to identify generated requests.</small>
      </label>
      <label>
        <span>Permission administrator</span>
        <input type="text" name="permission-administrator" />
      </label>
      <label>
        <span>Accounting point ID</span>
        <input type="text" name="accounting-point-id" />
      </label>
      <label>
        <span>Customer Identification</span>
        <input type="text" name="customer-identification" />
      </label>
      <label>
        <span>Meter ID</span>
        <input type="text" name="meter-id" />
      </label>
      <label>
        <input type="checkbox" name="remember-permission-administrator" />
        <span>Remember permission administrator</span>
      </label>
      <label>
        <span>Core URL</span>
        <input type="text" name="core-url" th:value="${publicUrl}" />
        <small>
          Overrides the core URL in case your EDDIE instance is not on the same
          host as the button.
        </small>
      </label>
    </form>

    <script type="module">
      /**
       * Recreates the button with the updated attribute to ensure no data is left from the previous button
       */
      function setAttribute(name, value) {
        const button = document.querySelector("eddie-connect-button");
        if (value) {
          button.setAttribute(name, value);
        } else {
          button.removeAttribute(name);
        }
        button.replaceWith(button.cloneNode());
      }

      const coreUrl =
        THYMELEAF_CORE_URL ?? import.meta.env.VITE_CORE_URL ?? "localhost:8080";

      // Fetch data needs from the API
      const dataNeeds = await fetch(`${coreUrl}/data-needs/api`).then(
        (response) => response.json()
      );

      // Create initial button with first data need
      const button = document.createElement("eddie-connect-button");
      button.setAttribute("connection-id", "1");
      button.setAttribute("data-need-id", dataNeeds[0].id);
      document.body.prepend(button);

      // Populate the select element with data needs
      const select = document.querySelector("select[name='data-need-id']");
      for (const { id, name } of dataNeeds) {
        const option = document.createElement("option");
        option.value = id;
        option.textContent = name;
        select.appendChild(option);
      }

      // Set initial input value for core url field
      document.querySelector("input[name='core-url']").value = coreUrl;

      // Update button on data need changes
      select.addEventListener("change", (event) => {
        const { name, options } = event.target;
        const ids = Array.from(options)
          .filter((option) => option.selected)
          .map((option) => option.value)
          .join(",");
        setAttribute(name, ids);
      });

      // Update button on input changes
      const inputs = document.querySelectorAll("input");
      for (const input of inputs) {
        input.addEventListener("input", (event) => {
          const { name, value, type, checked } = event.target;
          console.log(name, value, checked);
          if (type === "checkbox") {
            setAttribute(name, checked);
          } else {
            setAttribute(name, value);
          }
        });
      }

      // Log all status events for debugging purposes
      document.addEventListener("eddie-request-status", (event) => {
        console.debug(event.detail.status, event.detail);
      });
    </script>
  </body>
</html>
