<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>EDDIE Button</title>

  <script type="module" src="../lib/eddie-components.js"></script>

  <style>
      form {
          margin-top: 1.5rem;
          display: grid;
          justify-items: start;
          gap: 0.5rem;
      }

      span + input,
      span + select {
          margin-top: 0.1rem;
          display: block;
      }
  </style>
</head>
<body>
<form>
  <label>
    <span>Data need</span>
    <select name="data-need-id" autocomplete="off"></select>
  </label>
  <label>
    <span>Connection ID</span>
    <input type="text" name="connection-id" value="1" />
  </label>
  <label>
    <span>Permission administrator</span>
    <input type="text" name="permission-administrator" />
  </label>
  <label>
    <span>Accounting point ID</span>
    <input type="text" name="accounting-point-id" />
  </label>
  <label>
    <span>Customer Identification</span>
    <input type="text" name="customer-identification" />
  </label>
  <label>
    <input type="checkbox" name="remember-permission-administrator" />
    <span>Remember permission administrator</span>
  </label>
</form>

<script type="module">
  // Fetch data needs from the API
  const dataNeeds = await fetch(`../data-needs/api`).then(
    (response) => response.json()
  );

  // Create initial button with first data need
  const button = document.createElement("eddie-connect-button");
  button.setAttribute("connection-id", "1");
  button.setAttribute("data-need-id", dataNeeds[0].id);
  document.body.prepend(button);

  // Populate the select element with data needs
  const select = document.querySelector("select[name='data-need-id']");
  for (const { id, name } of dataNeeds) {
    const option = document.createElement("option");
    option.value = id;
    option.textContent = name;
    select.appendChild(option);
  }

  // Update button on input changes
  const inputs = document.querySelectorAll("input, select");
  for (const input of inputs) {
    input.addEventListener("change", (event) => {
      const { name, value, type, checked } = event.target;
      // Reselect button as replacing it breaks the reference
      const button = document.querySelector("eddie-connect-button");
      // Recreate over reset to ensure no data is left from the previous button
      button.setAttribute(name, type === "checkbox" ? checked : value);
      button.replaceWith(button.cloneNode());
    });
  }

  // Log all status events for debugging purposes
  document.addEventListener("eddie-request-status", (event) => {
    console.debug(event.detail.status, event.detail);
  });
</script>
</body>
</html>
