@import 'primeicons/primeicons.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body,
#app {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Inter Variable', 'Inter', Helvetica, sans-serif;
}

p {
  line-height: 1.5em;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
