@import 'primeicons/primeicons.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.01em;
}