@import './base.css';

:root {
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;

  --color-accent: rgb(29, 167, 224);
  --color-accent-bg: rgba(29, 167, 224, 0.2);
}

html,
body,
#app {
  height: 100%;
}
