/*
 * SPDX-FileCopyrightText: 2024-2026 The EDDIE Developers <eddie.developers@fh-hagenberg.at>
 * SPDX-License-Identifier: Apache-2.0
 */

@import 'primeicons/primeicons.css';

:root {
  --panel-radius: 1rem;
  --card-radius: 0.5rem;
  --tile-radius: 0.5rem;
  --table-radius: 0.5rem;
  --table-padding: 1rem 0.75rem;

  /* Light mode variables */
  --success: #92c143;
  --info: #15a7e0;
  --warn: #fe9719;
  --help: #ea5197;
  --danger: #c42222;
  --text-color: #017aa0;
  --app-background: #eff2f7;
  --sidebar-background: #d0e6ed;
  --panel-background: #fafbfc;
  --panel-border: 1px solid #fafbfc;
  --panel-shadow: 0 5px 10px 0 #1e1e1e1a;
  --card-background: #fafbfc;
  --card-border: 1px solid #017aa040;
  --tile-background: #e5f1f4;
  --chip-text-neutral: #017aa0;
  --chip-text-contrast: #017aa0;
  --chip-text-link: #004cbf;
  --chip-text-success: #105429;
  --chip-background-success: #d3ffe3;
  --chip-text-warn: #975d00;
  --chip-background-warn: #ffe8c3;
  --chip-text-info: #004cbf;
  --chip-background-info: #d7e8ff;
  --chip-text-danger: #c42222;
  --chip-background-danger: #ffdddd;
  --table-border: 1px solid #017aa040;

  /* Dark mode variables */
  @media (prefers-color-scheme: dark) {
    --text-color: #ffffff;
    --app-background: #1b1b1d;
    --sidebar-background: #161616;
    --panel-background: #202022;
    --panel-border: 1px solid #2e2e30;
    --panel-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    --card-background: #161616;
    --card-border: 1px solid #242424;
    --tile-background: #27262b;
    --chip-text-neutral: #606060;
    --chip-text-contrast: #161616;
    --table-border: 1px solid #2e2e30;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Inter Variable', 'Inter', Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--app-background);
}

p {
  line-height: 1.5em;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}