name: "Build AIIDA image"

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:  # allow manual trigger of this workflow


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: aiida

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build and publish image
        run: |
          IMAGE_ID=${REGISTRY}/${{ github.repository_owner }}/${IMAGE_NAME}
          echo $IMAGE_ID
          ./gradlew jib --image $IMAGE_ID -Djib.to.auth.password=${{ secrets.GITHUB_TOKEN }}