/*Structure*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0 4rem;
}

.body-logged-in {
  background-color: #d9d9d9;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  height: 100vh;
}

.centered-content {
  text-align: center;
}

.left-column {
  align-self: center;
}

.half-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 1rem;
  align-self: start;
  margin-top: 3rem;
  height: 90vh;
}

.separator {
  border-right: 1px solid #626262;
}

.logo {
  max-width: 42rem;
  max-height: 42rem;
  object-fit: contain;
  align-self: center;
}

/*Text*/
.column-title {
  margin: 6rem 0;
}

.paragraph {
  color: #626262;
  margin-bottom: 8rem;
}

h4 {
  margin-top: 2rem;
  color: gray;
}

/*Buttons*/
.login-button {
  border: none;
  color: white;
  width: 20rem;
  padding: 1rem 0;
  border-radius: 1rem;
  margin: 1rem 0;
  font-weight: bold;
  cursor: pointer;
}

.user-button {
  background-color: #ea5297;
}

.admin-button {
  background-color: #92c143;
}

.logout-button {
  background-color: #92c143;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
}

.logout-position {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.checkbox-login {
  margin: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-icon {
  margin-left: 0.5rem;
  position: relative;
}
