<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link href="/img/icon.svg" rel="icon" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="permissions-base-url" th:content="@{/permissions}" />
    <meta name="datasources-base-url" th:content="@{/datasources}" />
    <meta name="csrf-token" th:content="${_csrf.token}" />
    <meta name="csrf-header" th:content="${_csrf.headerName}" />

    <title>AIIDA</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/themes/light.css"
    />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"
    ></script>
  </head>
  <body>
    <sl-avatar class="user-button"
               label="User"
               th:initials="${userInitials}"
               onclick="window.showUserDrawer()">
    </sl-avatar>

    <sl-drawer id="user-drawer" no-header=true>
      <sl-icon-button class="user-drawer-close"
                      name="x-lg"
                      label="Close"
                      onclick="window.hideUserDrawer()">
      </sl-icon-button>

      <div class="user-drawer-header">
        <sl-avatar label="User picture" th:initials="${userInitials}"></sl-avatar>
        <div>
          <strong th:text="${oidcUser?.getFullName()}"></strong>
          <br />
          <span th:text="${oidcUser?.getPreferredUsername()}"></span>
        </div>
      </div>

      <div class="user-drawer-content">
        <sl-button variant="primary" outline th:href="@{/account}">
          <sl-icon slot="prefix" name="person-fill"></sl-icon>
          Account settings
        </sl-button>

        <sl-button variant="primary" outline th:href="@{/installer}">
          <sl-icon slot="prefix" name="box-arrow-in-down"></sl-icon>
          Installer
        </sl-button>

        <form method="post" th:action="@{/logout}">
          <input type="hidden"
                 th:name="${_csrf.parameterName}"
                 th:value="${_csrf.token}" />
          <sl-button type="submit" variant="danger" outline>
            <sl-icon slot="prefix" name="box-arrow-in-right"></sl-icon>
            Logout
          </sl-button>
        </form>
      </div>
    </sl-drawer>

    <h1>AIIDA</h1>

    <img alt="EDDIE Logo" height="64" th:src="@{/img/eddie.svg}" />

    <h2>Add new permission</h2>

    <form id="permission-form" class="permission-form" method="post">
      <sl-input id="aiida-code" placeholder="AIIDA code" required></sl-input>
      <sl-button type="submit" variant="primary">Add</sl-button>
      <sl-button circle disabled>
        <sl-icon name="camera" label="Camera"></sl-icon>
      </sl-button>
    </form>

    <sl-dialog id="permission-dialog" label="Add permission">
      <div id="permission-dialog-content"></div>

      <sl-button id="permission-dialog-accept" slot="footer" variant="primary"
                 onclick="window.updatePermission('ACCEPT')" loading>
        Confirm
      </sl-button>

      <sl-button id="permission-dialog-reject" slot="footer" variant="danger"
                 onclick="window.updatePermission('REJECT')" loading>
        Reject
      </sl-button>

      <sl-button id="permission-dialog-close" slot="footer" outline onclick="window.hidePermissionDialog()" loading>
        Close
      </sl-button>
    </sl-dialog>

    <sl-dialog id="revoke-permission-dialog" label="Revoke permission">
      <sl-button slot="footer" variant="primary" id="revoke-permission-button">
        Revoke
      </sl-button>

      <p class="text">
        This action will revoke the given permission. The eligible party will no
        longer be able to receive data for this entry.
      </p>

      <sl-button slot="footer" outline onclick="window.hideRevokeDialog()">
        Cancel
      </sl-button>
    </sl-dialog>

    <h2>Active permissions</h2>
    <div id="active-permissions" class="permissions"></div>

    <h2>Expired permissions</h2>
    <div id="expired-permissions" class="permissions"></div>

    <h2>Data Sources</h2>
    <sl-button variant="primary" onclick="window.openAddDataSourceDialog()">Add Data Source</sl-button>
    <sl-dialog id="add-data-source-dialog" label="Add Data Source">
      <form id="add-data-source-form">
        <sl-select id="asset-type" label="Asset Type"></sl-select>
        <br />
        <sl-select id="data-source-type" name="dataSourceType" label="Data Source Type" required>
        </sl-select>
        <br />
        <div id="data-source-fields"></div>
      </form>

      <div slot="footer">
        <sl-button type="submit" variant="primary" form="add-data-source-form">Save</sl-button>
        <sl-button type="button" variant="neutral" onclick="window.closeAddDataSourceDialog()">Cancel</sl-button>
      </div>
    </sl-dialog>
    <sl-dialog id="edit-data-source-dialog" label="Edit Data Source">
      <form id="edit-data-source-form">
        <div id="edit-data-source-fields"></div>
      </form>
      <div slot="footer">
        <sl-button type="submit" variant="primary" form="edit-data-source-form">Save Changes</sl-button>
        <sl-button type="button" variant="neutral" onclick="window.closeEditDataSourceDialog()">Cancel</sl-button>
      </div>
    </sl-dialog>

    <div id="data-source-list" class="data-sources"></div>

    <script th:src="@{/js/main.js}" type="module"></script>
  </body>
</html>
