<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link href="/img/icon.svg" rel="icon" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="installer-base-url" th:content="@{/installer}" />
    <meta name="csrf-token" th:content="${_csrf.token}" />
    <meta name="csrf-header" th:content="${_csrf.headerName}" />

    <title>AIIDA Installer</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/themes/light.css"
    />
    <link rel="stylesheet" th:href="@{/css/installer.css}" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"
    ></script>
  </head>
  <body>
    <header>
      <h1>AIIDA Installer</h1>
    </header>

    <div id="general-error-container" class="error-container"></div>

    <h2>AIIDA</h2>
    <sl-progress-bar indeterminate id="aiida-loading-bar" class="loading-bar"></sl-progress-bar>
    <div id="aiida-error-container" class="error-container"></div>
    <div id="aiida-version-info" class="version-infos"></div>

    <h2>Services</h2>
    <sl-progress-bar indeterminate id="services-loading-bar" class="loading-bar"></sl-progress-bar>
    <div id="services-error-container" class="error-container"></div>

    <form id="services-install-new-form" class="services-install-new-form" method="post">
      <div class="services-install-new-form-header">
        <sl-input id="services-install-new-chart-name" placeholder="Service Name" required></sl-input>
        <sl-button type="submit" variant="primary">Install Service</sl-button>
      </div>

      <sl-details summary="Custom configuration">
        <sl-textarea id="services-install-new-custom-values" rows="2" placeholder="core.port=1234"></sl-textarea>
      </sl-details>
    </form>

    <div id="services-version-infos" class="version-infos"></div>

    <script th:src="@{/js/installer.js}" type="module"></script>
  </body>
</html>
