<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Marketplace Management</title>
  <link rel="stylesheet" th:href="@{/css/index.css}" />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/themes/light.css"
  />
  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"
  ></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>

  <script>
    async function connectToMarketplaceFederator() {
      let baseUrl = "http://localhost:6060";

      try {
        const csrResponse = await fetch(`${baseUrl}/request-certificate`, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        });

        const certificate = await checkResponse(csrResponse);

        const jwtResponse = await fetch(`${baseUrl}/create-connection-jwt`, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        });

        const signedConnectionJwt = await checkResponse(jwtResponse);

        document.getElementById("qrInfoMessage").innerText = "Scan for Connecting Aiida to Marketplace User.";
        document.getElementById("qrWarningMessage").innerText = "Handle QR Code with care and do not pass on to unauthorized parties!";
        document.getElementById("qrWarningMessage").classList.add("text-warning");
        generateQRCode(signedConnectionJwt);

      } catch (error) {
        console.error(error);
        document.getElementById("qrInfoMessage").innerText = "Error occurred: " + error.message;
        document.getElementById("qrWarningMessage").innerText = "";
      }
    }

    function generateQRCode(qrData) {
      const qrCodeElement = document.getElementById("qr-code");

      QRCode.toCanvas(qrCodeElement, JSON.stringify(qrData), function(error) {
        if (error) {
          console.error(error);
        } else {
          console.log("QR Code generated!");
          console.log(qrData);
        }
      });
    }

    async function checkResponse(response) {
      if (!response.ok) {
        let data;
        try {
          data = await response.json();
        } catch (error) {
        }

        const errors = data.errors.map((error) => error.message).join("\n");
        console.log(errors);
        return Promise.reject(new Error("Failed to retrieve certificate! " + "\nSTATUS " + response.status + "\nError messages:\n" + errors));
      }
      return response.text();
    }
  </script>
</head>
<body>

<h1>AIIDA - Marketplace Management</h1>

<h2>Create Certificate and connect AIIDA to Marketplace Federator</h2>

<div>
  <sl-button type="submit" variant="primary" onclick="connectToMarketplaceFederator()">Connect AIIDA to Marketplace Federator</sl-button>
  <div><p id="qrInfoMessage"></p>
  <p id="qrWarningMessage"></p>
  </div>
  <canvas id="qr-code"></canvas>
</div>

</body>
</html>

<style>
    .text-warning {
        color: red;
        font-weight: bold;
        background-color: #ffe6e6;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid red;
        display: inline-block;
    }
</style>
