<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Marketplace Management</title>
  <link rel="stylesheet" th:href="@{/css/index.css}" />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/themes/light.css"
  />
  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"
  ></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>

  <script>
    function connectToMarketplaceFederator() {
      let baseUrl = 'http://localhost:6060';

      fetch(`${baseUrl}/request-certificate`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        }
      }).then(async response => {
        if (!response.ok) {
          return response.text().then(text => {
            throw new Error("Failed to retrieve certificate! " + " STATUS " + response.status + " Message:" + text);
          })
        }
        return response.text();
      })
        .then(certificate => {
          fetch(`${baseUrl}/create-connection-message`, {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            }
          }).then(response => {
            if (!response.ok) {
              return response.text().then(text => {
                throw new Error("Failed to create connection message to federator! " + " STATUS: " + response.status + " Message:" + text);
              })
            }
            return response.text();
          }).then(signedConnectionMessage => {
            const qrData = {
              signedConnectionMessage: signedConnectionMessage,
              aiidaCertificate: certificate,
            };

            document.getElementById("qrInfoMessage").innerText = "Scan for Connecting Aiida to Marketplace User."
            document.getElementById("qrWarningMessage").innerText = "Handle QR Code with care and do not pass on to unauthorized parties!"
            document.getElementById("qrWarningMessage").classList.add("text-warning");
            generateQRCode(qrData);
          });
        })
        .catch(error => {
          console.error(error);
          document.getElementById("qrInfoMessage").innerText = "Error occurred: " + error.message;
          document.getElementById("qrWarningMessage").innerText = "";
        });
    }

    function generateQRCode(qrData) {
      const qrCodeElement = document.getElementById("qr-code");

      QRCode.toCanvas(qrCodeElement, JSON.stringify(qrData), function(error) {
        if (error) {
          console.error(error);
        } else {
          console.log("QR Code generated!");
          console.log(qrData);
        }
      });
    }

    function checkResponse (response) {
      if (!response.ok) {
        const errors = data.map((error) => error.message).join("\n");
        console.log(errors);
        return Promise.reject(new Error(errors));
      }
    }

  </script>
</head>
<body>

<h1>AIIDA - Marketplace Management</h1>

<h2>Create Certificate and connect AIIDA to Marketplace Federator</h2>

<div>
  <sl-button type="submit" variant="primary" onclick="connectToMarketplaceFederator()">Connect AIIDA to Marketplace Federator</sl-button>
  <p id="qrInfoMessage"></p>
  <p id="qrWarningMessage"></p>
  <canvas id="qr-code"></canvas>
</div>

</body>
</html>

<style>
    .text-warning {
        color: red;
        font-weight: bold;
        background-color: #ffe6e6;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid red;
        display: inline-block;
    }
</style>
