:8080 {
# Adds HTTP Basic Auth, login is "username" and "hiccup" as password
    basicauth {
        username $2a$14$Zkx19XLiW6VYouLHR5NmfOFU0z2GTNmpkT/5qqR7hx4IjWJPDhjvG
    }

    reverse_proxy eddie:9090 {
        header_up Host {upstream_hostport}
    }
}
