:9000 {
    handle_path /eddie/* {
        reverse_proxy host.docker.internal:8080
    }

    handle_path /eddie/management/* {
    	reverse_proxy host.docker.internal:9090
    }

    basicauth /eddie/management/* {
        # encrypted value for 'password'
        admin $2a$10$qYTmwhGa3dd7Sl1CdXKKHOfmf0lNXL3L2k4CVhhm3CfY131hrcEyS
    }
}
