name: eddie-test
services:
  db:
    image: postgres:17.5-bookworm
    ports:
      - "5432:5432"
    environment:
      EMQX_DATABASE_PASSWORD: ${EMQX_DATABASE_PASSWORD}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    restart: "always"
    volumes:
      - ./postgres/create-emqx-user.sql:/tmp/create-emqx-user.sql
      - ./postgres/replace-password-with-env.sh:/docker-entrypoint-initdb.d/00-replace_password_with_env.sh
      - ./create-example-app-db.sql:/docker-entrypoint-initdb.d/create_database.sql
      - ./create-new-example-app-db.sql:/docker-entrypoint-initdb.d/create_new_example_app_db.sql
    healthcheck:
      test: [ "CMD-SHELL", "sh -c 'pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME}'" ]
      interval: 10s
      timeout: 3s
      retries: 3

  eddie:
    profiles:
      - dockerized-eddie
    image: ghcr.io/eddie-energy/eddie:latest
    build:
      dockerfile: src/main/docker/Dockerfile
      context: ../core
    env_file:
      - .env
      - path: .env.local
        required: false
    volumes:
      - ./ponton:/ponton # mount a folder to store ponton files
      - ./data-needs.json:/opt/core/config/data-needs.json
    depends_on:
      - kafka
      - db

  eddie-example-app:
    profiles:
      - dockerized-eddie
    image: ghcr.io/eddie-energy/eddie-example-app:latest
    build:
      dockerfile: src/main/docker/Dockerfile
      context: ../examples/example-app
    environment:
      JDBC_URL: ${JDBC_URL}
      JDBC_USER: ${JDBC_USER}
      JDBC_PASSWORD: ${JDBC_PASSWORD}
      EDDIE_PUBLIC_URL: ${PUBLIC_CONTEXT_PATH}
      PUBLIC_CONTEXT_PATH: ${PUBLIC_CONTEXT_PATH}
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
    restart: always
    depends_on:
      db:
        condition: service_started
      eddie:
        condition: service_started

  kafka:
    # Docs: https://github.com/apache/kafka/blob/trunk/docker/examples/README.md
    image: docker.io/apache/kafka:4.1.0
    ports:
      - "9094:9094"
    environment:
      # KRaft settings
      - KAFKA_NODE_ID=0
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      # Listeners
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      # Big messages produced for validated historical data
      # See: https://stackoverflow.com/questions/63528508/recordtoolargeexception-in-kafka
      - KAFKA_SOCKET_RECEIVE_BUFFER_BYTES=102400
      - KAFKA_SOCKET_SEND_BUFFER_BYTES=102400
      - KAFKA_SOCKET_REQUEST_MAX_BYTES=104857600
      - KAFKA_MESSAGE_MAX_BYTES=104857600
      # Topic auto creation
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

  emqx:
    image: emqx/emqx:5.8
    container_name: emqx
    ports:
      - "1883:1883"
      - "8883:8883"
      - "18083:18083" # management web interface
    environment:
      REGION_CONNECTOR_AIIDA_MQTT_PASSWORD: ${REGION_CONNECTOR_AIIDA_MQTT_PASSWORD}
      EMQX_AUTHENTICATION__1__DATABASE: ${DATABASE_NAME}
      EMQX_AUTHENTICATION__1__SERVER: ${DATABASE_HOST}:${DATABASE_PORT}
      EMQX_AUTHENTICATION__1__PASSWORD: ${EMQX_DATABASE_PASSWORD}
      EMQX_AUTHORIZATION__SOURCES__1__DATABASE: ${DATABASE_NAME}
      EMQX_AUTHORIZATION__SOURCES__1__SERVER: ${DATABASE_HOST}:${DATABASE_PORT}
      EMQX_AUTHORIZATION__SOURCES__1__PASSWORD: ${EMQX_DATABASE_PASSWORD}
    restart: always
    volumes:
      - emqx_data:/opt/emqx/data
      - ./emqx/emqx.hocon:/opt/emqx/etc/base.hocon
      - ./emqx/init-user.json:/tmp/init-user.json
      - ./emqx/replace-password-with-env.sh:/tmp/replace-password-with-env.sh
    entrypoint: ["/bin/sh", "/tmp/replace-password-with-env.sh"]

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.2
    ports:
      - "8888:8080"
    environment:
      KC_HOSTNAME: ${KEYCLOAK_EXTERNAL_HOST}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HEALTH_ENABLED: true
    command: start-dev --import-realm
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./keycloak/EDDIE-realm.json:/opt/keycloak/data/import/EDDIE-realm.json
      - ../keycloak-eddie-theme/theme/eddie-theme:/opt/keycloak/themes/eddie-theme

  caddy:
    image: caddy:alpine
    ports:
      - "9000:8080"
    environment:
      PUBLIC_CONTEXT_PATH: ${PUBLIC_CONTEXT_PATH}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data

volumes:
  caddy_data:
  postgres_data:
  keycloak_data:
  emqx_data:
