version: "3.9"
name: eddie-test
services:
  h2:
    image: "pcarmona/h2database"
    environment:
      H2_DBNAME: demo-db
      H2_USER: "test"
      H2_PASSWORD: "test"

  eddie:
    image: ghcr.io/eddie-energy/eddie:latest
    build:
      dockerfile: src/main/docker/Dockerfile
      context: ../core
    env_file:
      - .env
      # environment:
      # See the accompanying .env file
    volumes:
      - ./ponton:/ponton # mount a folder to store ponton files
      - ./data-needs.yml:/opt/core/config/data-needs.yml
    depends_on:
      - kafka

  eddie-example-app:
    image: ghcr.io/eddie-energy/eddie-example-app:latest
    build:
      dockerfile: src/main/docker/Dockerfile
      context: ../examples/example-app
    environment:
      JDBC_URL: "jdbc:h2:tcp://h2/demo-db"
      JDBC_USER: "test"
      JDBC_PASSWORD: "test"
      EDDIE_PUBLIC_URL: ${PUBLIC_CONTEXT_PATH}
      PUBLIC_CONTEXT_PATH: ${PUBLIC_CONTEXT_PATH}

  kafka:
    image: bitnami/kafka:3.6
    ports:
      - "9092:9092"
    environment:
      # KRaft settings
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      # Listeners
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT

  caddy:
    image: caddy:alpine
    ports:
      - "9000:8080"
    environment:
      PUBLIC_CONTEXT_PATH: ${PUBLIC_CONTEXT_PATH}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data

volumes:
  caddy_data:
