version: "3.9"
name: eddie-test
services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "test"
      POSTGRES_USER: "test"
      POSTGRES_DB: "eddie"
    restart: "always"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./create-example-app-db.sql:/docker-entrypoint-initdb.d/create_database.sql
      - ./create-new-example-app-db.sql:/docker-entrypoint-initdb.d/create_new_example_app_db.sql

      #eddie:
      #  image: ghcr.io/eddie-energy/eddie:latest
      #  build:
      #    dockerfile: src/main/docker/Dockerfile
      #    context: ../core
      #  env_file:
      #    - .env
      # environment:
      # See the accompanying .env file
  #  volumes:
  #    - ./ponton:/ponton # mount a folder to store ponton files
  #    - ./data-needs.json:/opt/core/config/data-needs.json
  #  depends_on:
  #    - kafka
  #    - db


  kafka:
    # Docs: https://github.com/bitnami/containers/tree/main/bitnami/kafka#accessing-apache-kafka-with-internal-and-external-clients
    image: docker.io/bitnami/kafka:3.6
    ports:
      - "9094:9094"
    environment:
      # KRaft settings
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      # Listeners
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      # Big messages produced for validated historical data
      # See: https://stackoverflow.com/questions/63528508/recordtoolargeexception-in-kafka
      - KAFKA_CFG_SOCKET_RECEIVE_BUFFER_BYTES=102400
      - KAFKA_CFG_SOCKET_SEND_BUFFER_BYTES=102400
      - KAFKA_CFG_SOCKET_REQUEST_MAX_BYTES=104857600
      - KAFKA_CFG_MESSAGE_MAX_BYTES=104857600

  init-kafka:
    image: docker.io/bitnami/kafka:3.6
    depends_on:
      - kafka
    entrypoint: [ '/bin/sh', '-c' ]
    command: |
      "
      # blocks until kafka is reachable
      kafka-topics.sh --bootstrap-server kafka:9092 --list

      echo -e 'Creating kafka topics'
      kafka-topics.sh --bootstrap-server kafka:9092 --create --if-not-exists --topic permission-market-documents --replication-factor 1 --partitions 1
      kafka-topics.sh --bootstrap-server kafka:9092 --create --if-not-exists --topic validated-historical-data --replication-factor 1 --partitions 1

      echo -e 'Successfully created topics, all topics:'
      kafka-topics.sh --bootstrap-server kafka:9092 --list
      "

  emqx:
    image: emqx/emqx:5.6.0
    container_name: emqx
    ports:
      - "1883:1883"
      - "8883:8883"
      - "18083:18083" # management web interface
    environment:
      EMQX_NAME: example_emqx_node
      EMQX_HOST: 127.0.0.1
    restart: always
    volumes:
      - emqx_data:/opt/emqx/data

  caddy:
    image: caddy:alpine
    ports:
      - "9000:8080"
    environment:
      PUBLIC_CONTEXT_PATH: ${PUBLIC_CONTEXT_PATH}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data

volumes:
  caddy_data:
  postgres_data:
  emqx_data:
