name: e2e-tests
services:
  eddie:
    env_file:
      - .env.e2e
    ports:
      - "8080:8080"
      - "9090:9090"
    volumes:
      - ./keys:/opt/core/keys # mount a folder to store key files

networks:
  default:
    external: true
    name: "e2e-tests-network"
