name: Build release docker images

on:
  push:
    branches:
      - 'release-*'
    tags:
      - 'release-*'

jobs:
  build:
    runs-on: [ self-hosted, internal ]
    permissions:
      contents: read
      packages: write
    env:
      registry: ghcr.io/eddie-energy
    steps:
      - uses: actions/checkout@v4
      - name: Build docker containers
        uses: ./.github/actions/build-containers
        with:
          version: $GITHUB_REF_NAME
          secrets: ${{ secrets.GITHUB_TOKEN }}
