# SPDX-FileCopyrightText: 2025 The EDDIE Developers <eddie.developers@fh-hagenberg.at>
# SPDX-License-Identifier: Apache-2.0

name: Build release docker images

on:
  push:
    branches:
      - 'release-*'
    tags:
      - 'release-*'

jobs:
  build:
    runs-on: [ self-hosted, internal ]
    permissions:
      contents: read
      packages: write
    env:
      registry: ghcr.io/eddie-energy
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Build docker containers
        uses: ./.github/actions/build-containers
        with:
          version: $GITHUB_REF_NAME
          secrets: ${{ secrets.GITHUB_TOKEN }}
