name: Build snapshot docker images

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Get the version
        id: get_version
        run: echo "VERSION=snapshot-${{ github.sha }}" >> $GITHUB_OUTPUT
      - name: Build docker containers
        uses: ./.github/actions/build-containers
        with:
          version: '${{ steps.get_version.outputs.VERSION }}'
          secrets: ${{ secrets.GITHUB_TOKEN }}