name: Gradle Build, Test, and Analyze

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '20'
          distribution: 'temurin'

      - name: Cache Gradle
        uses: actions/cache@v3
        id: cache-gradle
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload Caches
        if: steps.cache-gradle.outputs.cache-hit != 'true' || steps.cache-build.outputs.cache-hit != 'true'
        uses: actions/upload-artifact@v2
        with:
          name: gradle-cache-and-build
          path: |
            ~/.gradle/caches/
            **/build/

  test:
    runs-on: ubuntu-latest

    needs: build

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '20'
          distribution: 'temurin'

      - name: Restore Gradle Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Restore Build Outputs Cache
        uses: actions/cache@v3
        with:
          path: |
            **/build/
          key: ${{ runner.os }}-gradle-build-${{ hashFiles('**/*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-build-

      - name: Test with Gradle
        run: ./gradlew test

      - name: Upload Caches
        if: steps.cache-gradle.outputs.cache-hit != 'true' || steps.cache-build.outputs.cache-hit != 'true'
        uses: actions/upload-artifact@v2
        with:
          name: gradle-cache-and-build
          path: |
            ~/.gradle/caches/
            **/build/

  analyze:
    runs-on: ubuntu-latest

    needs: test

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '20'
          distribution: 'temurin'

      - name: Restore Gradle Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Restore Build Outputs Cache
        uses: actions/cache@v3
        with:
          path: |
            **/build/
          key: ${{ runner.os }}-gradle-build-${{ hashFiles('**/*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-build-

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Analyze with SonarCloud
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar --info
