name: 'Check commit messages format'
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  check-commit-message:
    name: Check Commit Message
    runs-on: ubuntu-latest
    steps:
      - name: Check for referenced issue
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: '^((\#|GH\-|gh\-)[0-9]+|NOISSUE|Merge|Revert).+'
          flags: 'gm'
          error: 'Commit message must reference an issue at the start, start with NOISSUE, or start with Merge'
          excludeDescription: 'true' # exclude description and title of pull request
          excludeTitle: 'true'
          checkAllCommitMessages: 'true'
          accessToken: ${{ secrets.GITHUB_TOKEN }}
