name: Deploy EDDIE Framework docs
on:
  push:
    paths:
      - 'docs/**'
    branches:
      - main
  workflow_dispatch:

jobs:
  docs-deploy:
    runs-on: linux
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Gradle build framework-docs
        run: ./gradlew pnpmBuildDocs
      - name: Deploy docs to webserver
        uses: ./.github/actions/sftp-deploy
        with:
          host: ${{ secrets.WEBSERVER_SFTP_HOST }}
          login_name: ${{ secrets.WEBSERVER_SFTP_USERNAME }}
          private_key: ${{ secrets.WEBSERVER_SFTP_KEY }}
          source: "./docs/.vitepress/dist/**"
          destination: "/public_html/framework/"
