name: Run playwright E2E tests
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - ".github/workflows/run-playwright-e2e-tests.yml"
      - "buildSrc/**"
      - "core/**"
      - "e2e-tests/**"
      - "env/**"
      - "region-connectors/**"
      - "!**.md"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/run-playwright-e2e-tests.yml"
      - "buildSrc/**"
      - "core/**"
      - "e2e-tests/**"
      - "env/**"
      - "region-connectors/**"
      - "!**.md"
  workflow_dispatch:

env:
  COMPOSE_FILES: "-f ./env/docker-compose.yml -f ./env/docker-compose.e2e.yml"
  E2E_COMPOSE_SECRETS_FILE: "./env/.env.local"
  KEYS_FOLDER: "./env/keys"
  FLUVIUS_CER_FILE: "./env/keys/fluvius.cer"
  FLUVIUS_KEY_FILE: "./env/keys/fluvius.key"
  MIJN_AANSLUITING_JKS_FILE: "./env/keys/mijn-aansluiting.jks"
  PONTON_FOLDER: "./env/ponton"
  PONTON_ID_DAT_FILE: "./env/ponton/id.dat"

jobs:
  e2e-tests:
    name: Build and run E2E tests
    runs-on: [ self-hosted, fh-server-e2e, dind ]
    timeout-minutes: 15 # Shorten job timeout to account for missing timeouts in playwright tests
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0  # No shallow clones

      - name: Set up JDK 21
        uses: actions/setup-java@5d7b2146334bacf88728daaa70414a99f5164e0f
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Gradle installDist
        run: ./gradlew clean installDist

      - name: Build docker images
        run: docker compose ${{ env.COMPOSE_FILES }} build

      - name: Write secrets to files
        env:
          EDDIE_JWT_HMAC_SECRET: ${{ secrets.EDDIE_JWT_HMAC_SECRET }}
          E2E_TEST_ALL_SECRETS: ${{ secrets.E2E_TEST_ALL_SECRETS }}
          E2E_MIJN_AANSLUITING_JKS: ${{ secrets.E2E_MIJN_AANSLUITING_JKS }}
          E2E_FLUVIUS_CER: ${{ secrets.E2E_FLUVIUS_CER }}
          E2E_FLUVIUS_KEY: ${{ secrets.E2E_FLUVIUS_KEY }}
          PONTON_ID_DAT: ${{ secrets.PONTON_ID_DAT_FILE }}
        run: |
          echo "$E2E_TEST_ALL_SECRETS" > ${{ env.E2E_COMPOSE_SECRETS_FILE }}
          echo "$EDDIE_JWT_HMAC_SECRET" >> ${{ env.E2E_COMPOSE_SECRETS_FILE }}
          mkdir -p ${{ env.KEYS_FOLDER }}
          echo -n "$E2E_MIJN_AANSLUITING_JKS" | base64 -di > ${{ env.MIJN_AANSLUITING_JKS_FILE }}
          echo -n "$E2E_FLUVIUS_CER" | base64 -di > ${{ env.FLUVIUS_CER_FILE }}
          echo -n "$E2E_FLUVIUS_KEY" | base64 -di > ${{ env.FLUVIUS_KEY_FILE }}
          mkdir -p ${{ env.PONTON_FOLDER }}
          echo -n "$PONTON_ID_DAT" | base64 -di > ${{ env.PONTON_ID_DAT_FILE }}

      - name: Start docker containers
        run: docker compose ${{ env.COMPOSE_FILES }} --profile dockerized-eddie --env-file ./env/.env up -d --wait

      - name: Install playwright dependencies
        run: ./gradlew e2e-tests:install-playwright-deps

      - name: Wait for region connectors
        run: |
          RCS=$(echo "aiida at-eda dk-energinet es-datadis fr-enedis nl-mijn-aansluiting" | jq -R 'split(" ")')
          for i in {1..20}; do
            if curl -S --retry 5 --retry-connrefused http://eddie:8080/api/region-connectors-metadata | jq "[.[].id] | contains($RCS)"; then
              echo "All connectors ready!"
              exit 0
            fi
          
            echo "Attempt $i/20 - Some connectors are missing - waiting 5s..."
            sleep 5
          done
          exit 1

      - name: Run playwright tests
        env:
          E2E_BASE_URL: "http://eddie:8080"
          DK_ENERGINET_REFRESH_TOKEN: ${{ secrets.DK_ENERGINET_REFRESH_TOKEN }}
          DK_ENERGINET_METERING_POINT: ${{ secrets.DK_ENERGINET_METERING_POINT }}
        run: ./gradlew -Prun-e2e-tests e2e-tests:cleanTest e2e-tests:test

      - name: Copy docker logs for archiving
        if: ${{ failure() }}  # only store logs when tests failed
        run: |
          mkdir -p ./e2e-tests/build/docker-logs
          docker logs e2e-tests-eddie-1 &> ./e2e-tests/build/docker-logs/eddie.log

      - name: Archive results
        if: ${{ failure() }}  # we are only interested in failed tests
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: playwright-test-result-and-screenshots-and-docker-logs
          path: |
            ./e2e-tests/build/playwright-results
            ./e2e-tests/build/reports/tests/test
            ./e2e-tests/build/docker-logs
          retention-days: 40

      - name: Clean up
        if: always()  # always clean up, even when other steps failed; a post-job script will delete anything anyway, but be sure to always delete the secrets files
        run: |
          docker compose ${{ env.COMPOSE_FILES }} --profile dockerized-eddie down
          rm -f ${{ env.E2E_COMPOSE_SECRETS_FILE }}
          rm -rf ${{ env.PONTON_FOLDER }}
          rm -rf ./env/keys
