form {
    display: grid;
    justify-items: start;
}

input, select {
    padding: 0.5rem;
    background: #fff;
    border: 1px solid #c0ccda;
    margin: 0.25rem 0 1rem;
    max-width: 100%;
}

button {
    display: flex;
    align-items: center;
    background: white;
    border: 2px solid #017aa0;
    color: #017aa0;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    margin: 1rem 0;
    cursor: pointer;
}

header {
    display: flex;
    padding: 1rem 0;
}

.title {
    padding: 0.5rem 0.75rem;
    background: black;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 9999px;
}